<!-- quotes/base.html -->
<html>
    <head>
        <title>Quote Application</title>
    </head>
    <header>
        <div style="background-color:gray">
    
            <!-- <a href="{% url 'random' %}">Random Quote</a> |  -->
            <a href="{% url 'all_recipes' %}">Show All Recipes</a> |
            <a href="{% url 'create_recipe' %}">Create New Recipe</a> |
            <a href="{% url 'random' %}">Recipe of The Day</a> |
            <a href="{% url 'person_list' %}">List of Users</a> |
            <hr>
        </div>
    </header>
    <body>

    
        
    
 
    
    {% block content %}
    {% endblock %}
    </body>
</html>