<!--cooking_forum/home.html-->
{% extends 'cooking_forum/base.html' %}

{% block content %}
<body background="https://i.imgur.com/ZOcLM7h.jpg">
<h1>Show all Recipes</h1>

<ul>
    {% for recipe in recipes %}
    <table>

    <tr>  
    <td>
    <li>"{{recipe.recipe_name}}" - {{recipe.person}}<br>
        <img src="{{recipe.image_url}}" style="max-width: 400;">
    </li>
    </td>
     

    
    <td style="color: gray;">{{recipe.ingredients}}</td>
    </tr>
    </table>    
    {% endfor %}
</ul>

</body>

{% endblock %}