<header>
    <a href="{% url 'all_recipes' %}">Go Back Home</a> |
</header>



<center>
<table background="https://wallpaperaccess.com/full/1397755.jpg">
<p><h1 style="font-family:Arial, Helvetica, sans-serif;">All recipes by</h1></p>
<p><h2 style="font-family:Arial, Helvetica, sans-serif;">{{person}}</h2> </p>
</table>
</center>

{% for recipe in person.get_all_recipes %}
<center>
    <h1 style="font-family:Arial, Helvetica, sans-serif;">{{recipe.recipe_name}}
    
    </h1>
    <h2 style="font-family:Arial, Helvetica, sans-serif;">Ingredients</h2>
    <h3 style="font-family:Arial, Helvetica, sans-serif;">{{recipe.ingredients}}</h3>
    <img src="{{recipe.image_url}}" style="max-width: 400;">
    <h4><a href="{% url 'update_recipe' recipe.pk %}">Update This Recipe</a></h4>
    <h4><a href="{% url 'delete_recipe' recipe.pk %}">Delete This Recipe</a></h4>
</center>


{% endfor %}