 
{% extends 'cooking_forum/base.html' %}

{% block content %}
<body background="https://t3.ftcdn.net/jpg/01/24/86/78/360_F_124867876_wIbQUsnu1ApZlYxmY8WrkEfMIbj6ZOrL.jpg">

<!-- templates/create_quote_form.html -->
<h1>Update A Recipe</h1>

<form method="POST"> <!-- HTTP POST to send data to the server -->
    {% csrf_token %}

    <!-- display the form context variable -->
    <!-- {{form}}  <!-- display the form without formatting -->

    <!-- {{form.as_p}} <!-- paragraph style formatting  -->
    <table>
    {{form.as_table}} <!-- table-style formatting -->
    <tr>
        <td></td> <!-- empty! -->
        <td style="font-family:Arial, Helvetica, sans-serif;"><input type="submit" value="Update A Recipe!"></td>
    </tr>
    </table>

</form>

</body>
{% endblock %}

